@import "tailwindcss";

@theme {
  --color-gold-accent: #E5C07B;
  --color-studio-bg: #0E0E0E;
  --color-panel-bg: #151515;
  --color-border-subtle: #222222;
}

:root {
  --background: #0E0E0E;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  overflow: hidden; /* Evita scroll doble con el layout */
}